.carousel-inner{
    background-color: rgb(138, 138, 138);
    height: 25rem;
}

footer,nav{
   background-color:#151515;
   
}
div.carousel-inner{

    border-radius: 1rem;
}

hr{
    border:1px solid #ec2828;

}

header{
    text-align: center;
    padding: 1em 0em;
}
img{
    width: 60%;
    box-shadow: 2px 2px 7px 1px #000000;
}